[Unit]
Description=SSH Per-Connection Server
After=syslog.target 

[Service]
ExecStart=-/usr/sbin/sshd -i
ExecReload=/bin/kill -HUP $MAINPID
StandardInput=socket
StandardOutput=socket

[Install]
WantedBy=network.target
